.create-edit-wrap {
  overflow: none;
}

.create-edit-wrap .ant-modal-content {
  transform: scale(0.85);
  margin: 0 auto;
  width: 400px;
}

.create-edit-wrap .ant-modal-title {
  text-align: center;
  padding-bottom: 10px;
}

.create-edit-wrap .ant-form-item-required {
  font-weight: 600;
}

.create-edit-wrap .ant-form-item-required::before {
  display: none !important;
}

.create-edit-wrap .ant-modal-footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 !important;
}

.create-edit-wrap .ant-modal-footer button {
  width: 40%;
}

.create-edit-wrap .ant-modal-footer button:first-child {
  background-color: rgb(253, 255, 215);
  border: 1px solid rgb(181, 181, 0);
}

.create-edit-wrap .ant-modal-footer button:first-child:hover {
  background-color: rgb(255, 255, 183) !important;
  border: 1px solid rgb(181, 181, 0) !important;
  color: black !important;
}

.create-edit-wrap .ant-modal-footer button:last-child {
  background-color: rgb(225, 255, 235);
  border: 1px solid rgb(0, 114, 25);
  color: black;
}

.create-edit-wrap .ant-modal-footer button:last-child:hover {
  background-color: rgb(202, 255, 198) !important;
  border: 1px solid rgb(0, 114, 25) !important;
  color: black !important;
}
